#root {
    margin: 0 auto;
    text-align: center;
}
.navbar {
    padding-top: 0;
    width: 100%;
    flex-wrap: nowrap;
}
.article-header {
    padding: 1rem;
    max-width: 1280px;
    margin: auto;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .nav-link {
    cursor: pointer;
    &.active {
        color: #32213a;
        font-weight: bold;
    }
}
.nav-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main-menu {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    letter-spacing: 50px;
    font-weight: 100;
    color: skyblue;
}
.statistics {
    display: flex;
    justify-content: end;
    margin: 5px;
}
.client-number {
    padding-right: 10px;
}
