#root {
    margin: 0 auto;
    text-align: center;
}
.navbar {
    padding-top: 0;
    width: 100%;
    flex-wrap: nowrap;
}
.article-header {
    padding: 1rem;
    max-width: 1280px;
    margin: auto;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .nav-link {
    cursor: pointer;
    &.active {
        color: #32213a;
        font-weight: bold;
    }
}
.nav-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
